.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.traverseButtons {
    display: flex;
    gap: 0.2rem;
}

.searchItem {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.searchItem > span {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1rem;
    text-decoration: underline 2px black;
    text-underline-offset: 4px;
}
