.main {
    display: flex;
    gap: 5rem;
}

.mainBars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pointerRow {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
    position: relative;
    height: 36px;
}

.pointer,
.pointerOutOfBounds {
    width: fit-content;
}

.pointerOutOfBounds {
    position: absolute;
    top: 0;
    /* Move left by 1 column width */
    left: calc(-1 * (100% / var(--size)));
    width: calc(100% / var(--size));
    text-align: center;
}

.storedBar {
    display: grid;
    grid-template-rows: 1fr auto auto;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
}
.storedBar > .title {
    align-self: flex-end;
}
.storedBar > .bar {
    display: flex;
    --scale: 5px;
    width: 2.5rem;
    background-color: black;
    align-self: flex-end;
}

.storedBar > span {
    font-weight: bold;
    font-family: var(--bold-font);
    text-align: center;
}
