.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: clamp(1rem, 20vh, 8rem);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: min(200px, 30vh);
    gap: 0.2rem;
}
