.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: clamp(1rem, 20vh, 8rem);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > h1 {
    font-size: 3.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: min(200px, 30vh);
    gap: 0.2rem;
}
