@font-face {
    font-family: JetBrainsMono;
    src: url(./fonts/JetBrainsMono.ttf);
}

.wrapper,
.wrapper * {
    font-family: JetBrainsMono, monospace;
    font-size: 0.8rem;
}

.wrapper {
    width: 35rem;
    max-height: 40rem;
    overflow-y: auto;
    border-radius: 10px;
}

.wrapper pre {
    border-radius: inherit;
}

.codeBlock {
    width: max-content;
}
.buttons {
    display: flex;
    justify-content: center;
}
.active {
    background-color: green;
}

.notActive {
    background-color: red;
}
