.main {
    display: grid;
    grid-template:
        minmax(calc(var(--pointer-size) * 1px), 1fr)
        auto auto / repeat(calc(var(--size) + 2), 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    column-gap: 5px;

    --inactive-color: rgba(43, 43, 43, 0.473);
    --active-color: black;
}

.activeBar,
.inactiveBar {
    --scale: 5px;
    width: 2.5rem;
    background-color: black;
    align-self: flex-end;
    grid-row-start: 2;
}

.activeBar {
    background-color: var(--active-color);
}

.inactiveBar {
    background-color: var(--inactive-color);
}

.activeLabel,
.inactiveLabel {
    font-weight: bold;
    font-family: var(--bold-font);
    grid-row-start: 3;
}

.activeLabel {
    color: var(--active-color);
}

.inactiveLabel {
    color: var(--inactive-color);
}

.pointer {
    width: fit-content;
    align-self: flex-end;
}
