@font-face {
    font-family: JetBrainsMono;
    src: url(./fonts/JetBrainsMono.ttf);
}

.codeBlock {
    width: max-content;
}

/* Actual code text */
.wrapper,
.wrapper * {
    font-family: JetBrainsMono, monospace;
    font-size: 0.8rem;
}

.wrapper {
    width: 36rem;
    max-height: 40rem;
    overflow: auto;
    border-radius: 10px;
}

.wrapper pre {
    border-radius: inherit;
    margin: 0 !important;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: center;
}

.activeDark,
.activeLight,
.notActive {
    padding: 0.2rem 1rem;
    background-color: rgb(235, 235, 235);
    border: 1px rgb(117, 117, 117) solid;
}

.activeLight {
    background-color: rgb(65, 65, 65);
    color: rgb(245, 245, 245);
}

.activeDark {
    background-color: beige;
}

.notActive {
    background-color: rgb(219, 219, 219);
}

.brightness {
    padding: 0;
    margin: 0.5rem;
    margin-right: 0;
    display: flex;
    border: none;
    background-color: transparent;
}
